<!doctype html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <title>{{ page.title }}</title>
    <input id="searchbar" onkeyup="searchTitles()" type="text"
        name="search" placeholder="Search Title..">
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <section>
      <body>
	    <div class="container">
		      <div class="search-box">
			      <i class="bx bx-search"></i>
			      <i nput type="text" placeholder="Put a word">
		      </div>
		      <div class="content">
			      {{ content }}
		      </div>
        </div>
    </section>
  </body>
<script src="script.js" />
</html>
