<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<link rel="stylesheet" href="test.css">
<title>Document</title>
</head>
<body>
    <input id="input" type="text" placeholder="Type here...">
    <button onclick="testSearch()" id="submit">Search</button>
    <p>Hello there, welcome to this web page of ours! <br>
        I hope you enjoy your experience with this web page.
    </p>
    <div id="google_translate_element" onclick="hiddenTranslateElementInit()">manolo</div>
</body>
<script src="/scriptT.js"></script>
</html>
